@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,400;1,500&display=swap');

$light-color: #f4f4f4;

$dark-color: #162f4c;

$midGray-color: #464646;


* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: $dark-color;
    height: 60px;
    display: flex;
    align-items: center;
}

body {
    background-color: $light-color;
    font-family: 'Roboto Mono', monospace;
}

